{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор (копирайтер) этого сайта</h1>
  <p>
    Тут я размещу информацию о себе, используя свои умения верстать.
    (а верстать, как видите, я не умею)
    Картинки, блоки, элементы бустрап. (ага, конечно) А может быть, просто напишу несколько абзацев текста.
  </p>
  <p>
    Краткость - сестра таланта. 
    Если кому-то интересно как было написано то, что вы наблюдаете на своём экране, 
    приглашаю на свой аккаунт на Гит Хабе: https://github.com/RussianPostman 
    По вопросам сотрудничества и спонсорства обращаться вот сюда: https://vk.com/baron_vrangel
    Всем хорошего дня и хороших программистов в команде. 
  </p>
{% endblock %} 