<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <h3>Текст страницы "Технологии"</h3>
      <p>Как вы поняли, вёрстку на этой странице писал тоже не я.
         От себя добавлю, что задание на создание этих страниц выполнил с удовольствие и энтузиазмом, 
          потому что не пришлось страдать и искать информацию по крупицам в интернетах. 
          Спасибо за внимание.
      </p>
    </article>
  </div>
{% endblock %}